/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 10px;
    border-style:outset;
    display: inline-block;
}
.verm   {

    background-color: rgb(40, 56, 56);
    border-color: aqua;
}
    .long {
    padding: 20px 40px
    
}