/* Drill 1 - Write your code solution below */
#container-d1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Drill 2 - Write your code solution below */
#container-d2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


/* Drill 3 - Write your code solution below */
#container-d3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

/* Drill 4 - Write your code solution below */
#container-d4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ;
    "cat dog cow"
}

/* Drill 5 - Write your code solution below */
#container-d5 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "a1 a2"
    "a3 a4";
}


/* Drill 6 - Write your code solution below */
#container-d6 {
    display:flex ;
    grid-template-columns: 1fr 1fr 1fr 
    "a1"
}
