/* Drill 6 - Write your code solution below */
    #d6-s2 {
        background-color: yellow;
    }

/* Drill 7 - Write your code solution below */
    #d7-s2 {
    font-weight: bold;
    }
    #d7-s3 {
    
    }
    #d7-s3 {
        font-weight: bold;
    }
/* Drill 8 - Write your code solution below */


/* Drill 9 - Write your code solution below */


/* Drill 10 - Write your code solution below */


/* Drill 11 - Write your code solution below */


/* Drill 12 - Write your code solution below */


/* Drill 13 - Write your code solution below */

