* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#layout {
    width: 600px;
    margin: 48px auto;
    font-size: 24px;
    /* 
        artificially lengthening page to
        enable scrolling to test the 
        sticky navbar
    */
    height: 150vh;
}
#navbar-top .content-column div a {
    padding: 24px;
}

#navbar-top #logo img {
    width: 150px;
}

#navbar-top .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#navbar-bottom {
    background: linear-gradient(to bottom, yellowgreen, olive);
}

#navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 0px;
}
#header {
    position: sticky;
    top: 0px;
}

.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-top {
    background: linear-gradient(to bottom, green, #3e6d3e);
}

#navbar-top .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#navbar-top a {
    text-decoration: none;
    color: white;
    padding: 24px 0px;
}