/* Drill 1 - Write your code solution below */
.column-d1 {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

/* Drill 2 - Write your code solution below */


/* Drill 3 - Write your code solution below */


/* Drill 4 - Write your code solution below */


/* Drill 5 - Write your code solution below */
