/* Drill 1 - Write your code solution below */
#d1-p1 {
    color: green;
}

/* Drill 2 - Write your code solution below */
#d2-s1 {
    color:rgb(255, 41, 198)
}
#d2-s3 {
    color:rgb(255, 26, 221)
}
/* Drill 3 - Write your code solution below */

#d3-s1 {
    color:red
}

#d3-s4 {
    color:rgb(224, 165, 92)
}
#d3-s6 {
    color:blue
}
/* Drill 4 - Write your code solution below */
#d4-p1 {
    background-color: skyblue;

}

/* Drill 5 - Write your code solution below */
#d5-p1 {
    background-color: lightpink;
}
    #d5-p2 {
        background-color: indianred;
    }
    #d5-div1 {
        background-color: tan;
    }