* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#heading {
   background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));

}
h1 {
    color: aliceblue;
}
#heading a {
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 35px;
    display: inline-block;
}
#heading a:hover {
    color:                     rgb(251, 255, 10);
}
